<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean id="initBusDbService" class="org.wayne.common.demo.db.InitPubDbService" init-method="init">-->
<!--        <property name="dbId" value="pub"></property>-->
<!--        <property name="url" value="#{ddpEnviroment.getConfigManager().getAppConfig('app/datasource/pub_jdbc','url')}"/>-->
<!--        <property name="username"-->
<!--                  value="#{ddpEnviroment.getConfigManager().getAppConfig('app/datasource/pub_jdbc','username')}"/>-->
<!--        <property name="password"-->
<!--                  value="#{ddpEnviroment.getConfigManager().getAppConfig('app/datasource/pub_jdbc','password')}"/>-->

<!--    </bean>-->
</beans>