<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wayne.thief.mapper.CardMapper">

  <insert id="batchInsert">
    insert into cards(platform, card_name) values
    <foreach collection="list" separator="," item="item">
      ()
    </foreach>

  </insert>
</mapper>